<% title "User Story - " + @project.title %>

<section id="backlog">
    <ul id="product">
      <% @product_backlog.each do |user_story| %>
        <%= render user_story %>
      <% end %>
    </ul>
    <ul id="current">
      <% @current_backlog.each do |user_story| %>
        <%= render user_story %>
      <% end %>
    </ul>
  <%= link_to "Create new user story", new_project_user_story_path(@project), :remote => true, :class => "create-user-story" %>
</section>