<% title "Projects" %>

<section>
      <ul id="projects">
      <% @projects.each do |project| %>
          <li>
            <h3 class="title"><%= project.title  %></h3>
            <div class="velocity"><%= project.velocity %></div>
            <div class="description"><%= project.description %></div>
          </li>
      <% end %>
      </ul>
</section>