<% title "Projects" %>

<% @projects.each do |project| %>
    <div class="row item">
    <%= render project %>
    </div>
<% end %>
<div class="row">
  <div class="span16 new">
    <%= link_to "Create new project", new_project_path, :remote => true, :class => "btn create-project" %>
  </div>
</div>