<% title "Projects" %>

<section>
  <ul id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
  <% end %>
  </ul>
  <%= link_to "Create new project", new_project_path, :remote => true, :class => "create-project" %>
</section>