@import 'grid';

section#backlog {

    p.inline-menu {
        @include column(12);

    }

    ul{
        @include column(6);
        padding: 0;
        list-style-type: none;

        li {
            //backgroud-color: #EEE;
            border: 1px solid #000;
            min-height: 100px;
            margin-top: 10px;
        }
    }

}
