@import 'grid';

div.center {
    margin: 0 auto;
    width: $total-width;
}

div.field_with_errors {
     input, textarea {
        border-color: #F00;
     }
}

// infield labels
form p { position:relative }
label  { position:absolute; top:0; left:0}