@import "grid";

$background-color: #205791;
$text-color: #fff;

header#header {
  @include column(12);
  h1 {
    color: $text-color;
    background: $background-color;
    padding-left: 20px;
  }

  #ajax-status {
    width: 120px;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 10px;
    color: $text-color;
    background: $background-color;
    padding: 3px;
    text-align: center;
    display:none;
  }
}
