
$width: 100%;
$background-color: #205791;
$text-color: #fff;
$text-size: 14px;
$height: 1.8 * $text-size;

#header {
  width: $width;
  background: $background-color;


  height: $height;

  h1 {
    color: $text-color;
    font-size: $text-size * 1.5;
  }

}
