@import 'global';

.project-item {
    @include layout-container();
    background-color: $default-background-color;
    padding-bottom: 5px;

    .title, .description {
        @include well-formed();
    }
}

.project-form {
    @include layout-container();

    form {
        padding-top: $padding+px;
    }
    .actions, form {
        margin-bottom: 0px;
    }

}

