@import 'grid';

ul#projects {
    @include column(9);

    li {

      border: 1px solid #000;
      min-height: 120px;
      list-style-type: none;

      .title {
        background: #ddd;
        float: left;
        padding: 2px 5px;
        width: 70%;
      }

      .velocity {
        float: right;
        font-size: $font-size * 3;
        text-align: right;
      }

      .description {
        clear: both;
        padding: 1px 3px;
        font-size: $font-size * 1.2;
      }
    }
}
